.navigation-container {
    position: relative; /* لجعل الخط الفاصل في موضع مطلق بالنسبة لهذه الحاوية */
    margin-bottom: 20px; /* مساحة أسفل المجموعة بالكامل */
  }
  
  .navigation-container .d-flex {
    /* يمكنك الاحتفاظ بأنماط التوزيع للأزرار هنا أو نقلها إلى .navigation-container */
  }
  
  .separator-line {
    position: absolute; /* لوضع الخط بشكل مستقل */
    bottom: 0; /* لجعله يلتصق بالجزء السفلي من الحاوية */
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ccc; /* لون الخط */
  }
  
  .active-button {
    border-bottom: 3px solid #3373a3 !important;
    color: #212529 !important;
    font-weight: bold;
  }
  
  /* يمكنك إضافة بعض التباعد السفلي للأزرار لكي لا تتداخل مع الخط */
  .navigation-container .btn {
    margin-bottom: -1px; /* لتعويض سمك الخط وجعل الحافة السفلية للأزرار فوق الخط */
  }