.suggestions-list {
    z-index: 999;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    list-style: none;
  
  }
  
  .suggestion-item {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: black;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
 
  