.stepper-container {
  display: flex;
  flex-direction: row-reverse; /* لعرض الخطوات من اليمين إلى اليسار */
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* لإضافة مساحة بين الـ Stepper والمحتوى */
}

.step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f8f9fa;
  border: 2px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #6c757d;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 1; /* للتأكد من ظهور الدائرة فوق الخط */
}

.step-circle.active {
  background-color: #3373a3;
  border-color: #3373a3;
  color: white;
}

.step-circle.disabled {
  background-color: #e9ecef;
  border-color: #ced4da;
  color: #adb5bd;
  cursor: not-allowed;
}

.step-line {
  width: 100px;
  height: 2px;
  background-color: #dee2e6;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.step-line.disabled {
  background-color: #e9ecef;
}

.step-circle:hover:not(.disabled) {
  background-color: #e9ecef;
  border-color: #ced4da;
}

.step-circle.active:hover:not(.disabled) {
  background-color: #2d485c;
  border-color: #3373a3;
}
